<h2>My Objects</h2>

<div>
  <label for="new-object">Object Name: </label>
  <input id="new-object" #ObjectName />

  <button type="button" class="add-button" (click)="add(ObjectName.value); ObjectName.value=''">
    Add object
  </button>
</div>

<ul class="object">
  <li *ngFor="let object of objects">
    <a routerLink="/ObjectCard/{{object.id}}">
      <span class="badge">{{object.id}}</span> {{object.name}}
    </a>
    <button type="button" class="delete" title="delete object" (click)="delete(object)">x</button>
  </li>
</ul>
