<h1>OBJEKTE Karte</h1>

<div *ngIf="object">
  <h2>{{object.name | uppercase}} TEST</h2>
  <div><span>id: </span>{{object.id}}</div>
  <div>
    <label type="text" for="object-name">Object name: </label>
    <input id="object-name" [(ngModel)]="object.name" placeholder="Object name" />
    <br>
    <label for="object-description"> Object description:</label>
    <input type="text" id="object-description" [(ngModel)]="object.description" placeholder="object description" />
    <br>

  </div>
  <button type="button" (click)="goback()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>
